<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>sale-create</title>
</head>
<body>
<h2>Sale create</h2>
<form action="#" th:action="@{/sale-create}" th:object="${sale}" method="post">

    <label for="Part_id">Part id</label>
    <input type="text" th:field="*{Part_id}" id="Part_id" placeholder="Part id">


    <label for="count">Count</label>
    <input type="number"  th:field="*{count}" id="count" placeholder="Count">


    <label for="Buyer_id">Buyer id</label>
    <input type="text" th:field="*{Buyer_id}" id="Buyer_id" placeholder="Buyer id">

    <input type="submit" value ="Create Sale">

</form>

</body>
</html>
